@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, white, yellow);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.785);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: coral;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: rgb(50, 9, 234);
}

p {
    text-align: justify;
}